mixin header()
 header.header#header
    .layout
          .nav_header
            img.header_logo(src='../dev/img/Logo.png')
            .menu
              span
              span
              span
            #navigation.hidden
              .nav
                ul
                  li
                    a(href='#header') Home
                  li
                    a(href='#about') About Me
                  li
                    a(href='#services') Services
                  li
                    a(href='#portfolio') Portfolio
                  li
                    a(href='#blog') Blog
                  li
                    a(href='#contact') Contact
          .header_wrap
           #pagination.header_pagination
            .pagination_number 01
            .pagination_circle__active 
             .pagination_about Home
            .pagination_line
            a.pagination(href='#about')
             .pagination_circle
            a.pagination(href='#services')
             .pagination_circle
            a.pagination(href='#portfolio')
             .pagination_circle
            a.pagination(href='#blog')
             .pagination_circle
            a.pagination(href='#contact')
             .pagination_circle
           .header_hero
            h1.header_title Volodymyr Yakymenko
            h2.header_subtitle Web developer
            hr.header_styleline
            h3.header_more Read More
             a(href='#about')
              i.fas.fa-long-arrow-alt-right
           .header_social
                a(href='https://www.facebook.com/profile.php?id=100000080918272')
                    i.fab.fa-facebook-f
                a(href='https://www.instagram.com/nordov88/')
                    i.fab.fa-instagram
                a(href='#')
                    i.fab.fa-linkedin-in
                a(href='https://github.com/Vladimir1212')
                    i.fab.fa-github  