mixin header()
 header.header
    .layout
          .nav_header
            img.header_logo(src='../dev/img/Logo.png')
            .nav(role='navigation')
                #menuToggle
                    input(type='checkbox')
                    span
                    span
                    span
                    ul#menu
                        a(href='#')
                            li.menu_text Home
                        a(href='#about')
                            li.menu_text About
                        a(href='#portfolio')
                            li.menu_text Portfolio
                        a(href='#blog')
                            li.menu_text Blog
                        a(href='#contact')
                            li.menu_text Contact                  
          .header_wrap
           .header_pagination
            .pagination_number 01
            .pagination_circle__active 
             .pagination_about Home
            .pagination_line
            .pagination_circle
            .pagination_circle
            .pagination_circle
            .pagination_circle
            .pagination_circle
           .header_hero
            h1.header_title Volodymyr Yakymenko
            h2.header_subtitle Web developer
            hr.header_styleline
            h3.header_more Read More
             a(href='#about')
              i.fas.fa-long-arrow-alt-right
           .header_social
                a(href='https://www.facebook.com/profile.php?id=100000080918272')
                    i.fab.fa-facebook-f
                a(href='https://www.instagram.com/nordov88/')
                    i.fab.fa-instagram
                a(href='#')
                    i.fab.fa-linkedin-in
                a(href='https://github.com/Vladimir1212')
                    i.fab.fa-github  