mixin portfolio ()
 section.portfolio#portfolio
    .layout
        .portfolio_wrap
           .about_pagination
            .pagination_circle
            .pagination_circle
            .pagination_circle
            .pagination_number 04
            .pagination_circle__active 
             .pagination_about Portfolio
            .pagination_line
            .pagination_circle
            .pagination_circle
           .portfolio_main
            h2.portfolio_title Portfolio
             hr.portfolio_styleline
            .container
                .card_01
                    a.card__button(href='https://vladimir1212.github.io/beetroot/event/build/') Landing page. Coding from PSD template. Designed with HTML5(PUG) + LESS preprocessors, approximate development time 10 hours
                .card_02
                    a.card__button(href='https://vladimir1212.github.io/beetroot/travel-more/build/') Landing page. Coding from PSD template. Designed with HTML5(PUG) + LESS preprocessors, approximate development time 15 hours
                .card_03
                    a.card__button(href='https://vladimir1212.github.io/beetroot/Monticello/build/') Landing page. Coding from PSD template. Designed with HTML5(PUG) + LESS preprocessors and JavaScript approximate development time 18 hours