mixin footer()
 footer.footer
    #map.ba-map
 .feedback#contact
    .layout_line
    .feedback_container
        hr
        h1.about_title-main Get in tourch
        .feedback_body
         .feedback_info
            .feedback_location
                .icon
                 i.fas.fa-map-marker-alt.fa-map-marker-alt__footer
                p.feedback_description 91 Nolan Extensions Suite 670
            .feedback_tel
                .icon
                 i.fas.fa-phone
                p.feedback_description +001 356-868-2454
            .feedback_email
                .icon
                 i.fas.fa-envelope-square
                p.feedback_description gahuy93@gmail.com
            .feedback_time
                .icon
                 i.fas.fa-clock
                p.feedback_description From 07:05AM to 19:30PM
         .feedback_form
            p
                input.feedback_form_name(type='text', name='name', placeholder='Name')
            p
                input.feedback_form_email(type='email', name='email', placeholder='Email')
            button.btn__footer Submit
 .copyright
    .layout_height
    .copyright_wrap
     img(src='../img/logo.svg')
     .navigation_social
          .circle
            a(href='#')
              i.fab.fa-facebook-f
          .circle
            a(href='#')
              i.fab.fa-twitter
          .circle
            a(href='#')
              i.fab.fa-instagram
    .copyright_wrap__sub
     p.copyright_title Copyrights © 2017 Monticello
     p.copyright_sub Made with ♥ by Ga Huy