doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    meta(charset='UTF-8')
    title Event
  body
    header.header
      .layout
        .menu
          .logo Event
          nav.nav
            a.nav_link(href='#') About
            a.nav_link(href='#') Juri
            a.nav_link(href='#') Competitions
            a.nav_link(href='#') Contact Us
      .title-block
        h1.title Are you ready for the Battle?
        h2.subtitle The clash between graphic designers
        button.title_button Download Our Case Study
    .section
      .layout
        .info
          h1.info_title Design Battles
          p.info_more
            | Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula
          .info_block
            h2.info_title2 What is the course of the Battles?
            .info_wrap
              .info_item
                i.fas.fa-chevron-right.fas__yellow
                p.info_number__yellow .01
                p.info_sub Cras ultricies ligula sed mag. 
              .info_item
                i.fas.fa-chevron-right.fas__brown
                p.info_number__brown .02
                p.info_sub
                  | Pellentesque in ipsum id orci
                  br
                  |  porta dapibus.
              .info_item
                i.fas.fa-chevron-right.fas__blue
                p.info_number__blue .03
                p.info_sub
                  | Curabitur arcu erat,
                  br
                  |  accumsan id imperdiet et, porttitor at sem.
              .info_item
                i.fas.fa-chevron-right.fas__green
                p.info_number__green .04
                p.info_sub
                  | Cras ultricies ligula sed
                  br
                  |  magna dictum portaurabitur arcu.
              .info_item
                i.fas.fa-chevron-right.fas__red
                p.info_number__red .05
                p.info_sub Proin eget tortor risus.
              .info_item
                i.fas.fa-chevron-right.fas__yellow
                p.info_number__yellow .06
                p.info_sub
                  | Nulla quis lorem ut libero
                  br
                  |  malesuada feugiat.
            h3.info_summary
              | Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
            .info_download
              h3.info_download-title Submissions starts on 10/12/2017 and end on 11/12/2017
              p.info_download-subtitle Nulla quis lorem ut libero malesuada feugiat eget tincidunt nibh pulvinar.
              button.title_button__info Download Our Case Study
    .competitors
      .layout
        h1.competitors_title They already said Battles
        h2.competitors_subtitle
          | Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Estibulum ante ipsum primis in faucibus orci luctus et ultrices.
        .competitors_cards
          .competition_wrapper
            .competitors_info
              img.competitors_photo(src='../dev/img/profile1.png')
              p.competitors_name John Stone
              p.competitors_job Creative Director at Amazing Game
            .competitors_info
              img.competitors_photo(src='../dev/img/profile2.png')
              p.competitors_name John Stone
              p.competitors_job Creative Director at Amazing Game
            .competitors_info
              img.competitors_photo(src='../dev/img/profile3.png')
              p.competitors_name John Stone
              p.competitors_job Creative Director at Amazing Game
          .competition_wrapper
            .competitors_info
              img.competitors_photo(src='../dev/img/profile4.png')
              p.competitors_name John Stone
              p.competitors_job Creative Director at Amazing Game
            .competitors_info
              img.competitors_photo(src='../dev/img/profile5.png')
              p.competitors_name John Stone
              p.competitors_job Creative Director at Amazing Game
            .competitors_info
              img.competitors_photo(src='../dev/img/profile6.png')
              p.competitors_name John Stone
              p.competitors_job Creative Director at Amazing Game
        h1.competitors-countdown_title Countdown
        .competitors_countdown-wrap
          .competitors_countdown-box__trans
            p.num 37
            p.data Days
          .competitors_countdown-box
            p.num 13
            p.data Hours
          .competitors_countdown-box
            p.num 45
            p.data Minutes
          .competitors_countdown-box
            p.num 26
            p.data Seconds
    .sponsorship
      .layout
        h1.sponsorship_title
          | Sponsorship
          .sponsorship_container
            img.sponsorship_logo(src='../dev/img/clients-01.png')
            img.sponsorship_logo(src='../dev/img/clients-02.png')
            img.sponsorship_logo(src='../dev/img/clients-03.png')
            img.sponsorship_logo(src='../dev/img/clients-04.png')
    .juri
     .layout
       h1.juri_title Juri
       .juri_container
        .juri_card
         img.juri_photo(src='../dev/img/juri-1.png')
         p.juri_name John Doe
         p.juri_job Creative Director of Amazing Game
        .juri_card 
         img.juri_photo(src='../dev/img/juri2.png')
         p.juri_name John Doe
         p.juri_job Creative Director of Amazing Game
        .juri_card
         img.juri_photo(src='../dev/img/juri3.png')
         p.juri_name John Doe
         p.juri_job Creative Director of Amazing Game
    .registration
     .layout
      h1.registration_title Contact Us
      p.registration_subtitle
        | Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.
      form.registration_form
        .form_wrap
          p
            input.form_name(type='text', name='name', placeholder='First Name')
          p
            input.form_lastname(type='text', name='name', placeholder='Last Name')
        .form_wrap
          p
            input.form_email(type='email', name='email', placeholder='Email')
          p
            input.form_website(type='text', name='website', placeholder='Website')
        .form_wrap
          p
            textarea#comment.form_feedback(name='text', placeholder='Message')
        input.form_submit(type='submit', value='Send Message')
    footer.footer
     .layout
      h1.footer_title Newsletter
      p.footer_subtitle
        | If you would like to hear first and to receive updates please subscribe to our newsletter.
      form.footer_subscribe
        p
          input.footer_subscribe-email(type='email', name='email', placeholder='email adress')
        input.footer_subscribe-button(type='submit', value='Subscribe')
      .social
        .circle
          a(href='#')
            i.fab.fa-twitter
        .circle
          a(href='#')
            i.fab.fa-dribbble
        .circle
          a(href='#')
            i.fab.fa-instagram
        .circle
         a(href='#')
           i.fab.fa-pinterest-p