mixin presentation-invert()
  section.presentation-invert
   .layout
    .presentation_wrap
      .presentation-card-invert_hidden
      .presentation-card-invert
        h1.presentation-card_title Spain
        h1.presentation-card_subtitle Grand Spain Madrid
        p.presentation-card_more
          | But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
        button.presentation-card_button Book now