body {
    width: 100%;
    background-image: linear-gradient(-23deg, #FF512F 0%, #DD2476 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato';
}
.container {
    margin: 0 auto;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
}
.header {
    color: white;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}
.button {
    background-color: blue;
    color: white;
    text-align: center;
}
.footer {
    text-align: center;
}

.navigation {
    display: flex;
    text-decoration: none;
}
h1,h2,p {
    color: white;
}