body {
    width: 100%;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    text-decoration: none;
}
h1,h2,p {
    color: white;
}