mixin services()
 section.services
    .layout
      .services_wrap
        .about_pagination
            .pagination_circle
            .pagination_circle
            .pagination_number 03
            .pagination_circle__active
             .pagination_about Services
            .pagination_line
            .pagination_circle
            .pagination_circle
            .pagination_circle
        .services_main
            h2.services_title Services
            hr.services_styleline
        #accordeon
                .acc_head.acc_head-location
                    h1.acc_title Landing Page
                .ac_body.acc_body-location
                    p.acc_text Development and design of the landing page of any complexity, ideal for small businesses, selling page, personal page for your hobby. Improvement of the existing page, adding new features.
                .acc_head.acc_head-music
                    h1.acc_title Multi-page website, online store
                .acc_body.acc_body-music
                    p.acc_text Full-featured sites and stores, fast loading, optimized for mobile platforms
                .acc_head.acc_head-notes
                    h1.acc_title Support
                .acc_body.acc_body-notes
                    p.acc_text Technical support developed sites, help and advice
                

