mixin header()
  .header
   .header_line
   h1.header_title BHROMAON
   h2.header_subtitle Safe Travel Anywhere
   .search
    input.search_input(type='text' minlength="3" maxlength="255" placeholder='Search Your Travel Destination')
    button.search_button
        | Search
        i.fas.fa-search
   .layout_header-scroll
   h3.header_scroll Scroll Down
    i.fas.fa-chevron-down