mixin booking()
  section.booking
   .layout
    .booking_container
      .booking_item
        i.fas.fa-search.fa-search__mod
        p.booking_title Search Places
      .booking_item
        i.far.fa-check-circle
        p.booking_title Select Places
      .booking_item
        i.fas.fa-thumbs-up
        p.booking_title Book & Enjoy