mixin header()
 header.header
  .layout
    .layout_line
    .navigation
     img(src='../img/logo.svg')
     .navigation_menu
          a.nav_link(href='#about')
            .round
            | About Us
          a.nav_link(href='#projects')
            .round
            | Projects
          a.nav_link(href='#news')
            .round
            | News
          a.nav_link(href='#contact')
            .round
            | Contact
     .navigation_social
          .circle
            a(href='#')
              i.fab.fa-facebook-f
          .circle
            a(href='#')
              i.fab.fa-twitter
          .circle
            a(href='#')
              i.fab.fa-instagram
  .layout_height
  .layout_head
   .empty
   .header_title
    h1.header_title-main Simple & Modern
    h2.header_title-sub we make the world's beautiful every day
   .header_aside
    a.nav_link(href='#')
     .round
    a.nav_link(href='#')
     .round
    a.nav_link(href='#')
     .round
    a.nav_link(href='#')
     .round
    a.nav_link(href='#')
     .round
  .layout_height
  .circle__footer
    a(href='#')
      i.fas.fa-chevron-down