mixin footer()
  footer.footer
   .layout
    .content_line
    h1.footer_logo BHROMAON
    h2.footer_subtitle Safe Travel Anywhere
    .social
         a(href='#')
          i.fab.fa-facebook-f
         a(href='#')
          i.fab.fa-twitter
         a(href='#')
          i.fab.fa-linkedin-in
         a(href='#')
          i.fab.fa-youtube
         a(href='#')
          i.fab.fa-pinterest