mixin about()
 section.about#about
    .layout
        .about_wrap
           .about_main
            h1.about_title Creative Studio
            .about_image__profile
                img.about_main(src='../dev/img/main_11.png')
            .about_image
                img.about_main(src='../dev/img/main_2.jpg')
            .about_text
                hr.about_styleline
                p.about_text-main Hello everyone, I am a web developer from the city of Zaporizhzhya, Ukraine. In 2019 he graduated from Beetroot Academy, majoring in Front-End development. I make responsive websites using HTML (PUG), CSS (LESS) and JavaScript, I also use Bootstrap, Foundation, Gulp, GitHub in my projects.