mixin news()
 section.news#news
  .layout_line
  .about_title
   hr.__reverse
   h1.news_title-main Latest News
  .layout
   .layout_slider
   section.regular.slider
      div.slide_card
        img.slider_img(src='../img/slide_1.png')
        div.slider_body
         h1.slider_title See The Unmatched Beauty Of The Great. 
         p.slider_description Free directories: directories are perfect for customers that are... searching for
         .slider_author
          img.slider_author_img(src='../img/author_1.png')
          div.slider_autor_wrap
           p.slider_author_name Isaac Dunn
           p.slider_author_data 09 feb 2017
      div.slide_card
         img.slider_img(src='../img/slide_2.png')
         div.slider_body
          h1.slider_title Effective Advertising Pointers.
          p.slider_description Having a home based business is a wonderful asset to your life...
          .slider_author
           img.slider_author_img(src='../img/author_2.png')
           div.slider_autor_wrap
            p.slider_author_name Dominic Freeman
            p.slider_author_data 24 apr 2017
      div.slide_card
        img.slider_img(src='../img/slide_3.png')
        div.slider_body
         h1.slider_title Hypnotize Yourself Into The Ghost.
         p.slider_description There are many things that are important to catalog design....
         .slider_author
          img.slider_author_img(src='../img/author_3.png')
          div.slider_autor_wrap
           p.slider_author_name Alice Ward
           p.slider_author_data 30 dec 2017
      div.slide_card
        img.slider_img(src='../img/slide_3.png')
        div.slider_body
         h1.slider_title Hypnotize Yourself Into The Ghost.
         p.slider_description There are many things that are important to catalog design....
         .slider_author
          img.slider_author_img(src='../img/author_3.png')
          div.slider_autor_wrap
           p.slider_author_name Alice Ward
           p.slider_author_data 30 dec 2017
      div.slide_card
         img.slider_img(src='../img/slide_2.png')
         div.slider_body
          h1.slider_title Effective Advertising Pointers.
          p.slider_description Having a home based business is a wonderful asset to your life...
          .slider_author
           img.slider_author_img(src='../img/author_2.png')
           div.slider_autor_wrap
            p.slider_author_name Dominic Freeman
            p.slider_author_data 24 apr 2017
      div.slide_card
         img.slider_img(src='../img/slide_2.png')
         div.slider_body
          h1.slider_title Effective Advertising Pointers.
          p.slider_description Having a home based business is a wonderful asset to your life...
          .slider_author
           img.slider_author_img(src='../img/author_2.png')
           div.slider_autor_wrap
            p.slider_author_name Dominic Freeman
            p.slider_author_data 24 apr 2017
      div.slide_card
         img.slider_img(src='../img/slide_2.png')
         div.slider_body
          h1.slider_title Effective Advertising Pointers.
          p.slider_description Having a home based business is a wonderful asset to your life...
          .slider_author
           img.slider_author_img(src='../img/author_2.png')
           div.slider_autor_wrap
            p.slider_author_name Dominic Freeman
            p.slider_author_data 24 apr 2017
      div