mixin menu()
 section.menu
   .layout
    .menu_main
     .logo BHROMAON
     nav.nav
        a.nav_link(href='#') Who we are
        a.nav_link(href='#') What we do
        a.nav_link(href='#') Travel with us
        a.nav_link(href='#') Contact Us