mixin blog()
 section.blog#blog
    .layout
        .blog_wrap
           .about_pagination
            .pagination_circle
            .pagination_circle
            .pagination_circle
            .pagination_circle
            .pagination_number__black 05
            .pagination_circle__active__black 
             .pagination_about__black Blog
            .pagination_line__black
            .pagination_circle
           .blog_main
            h2.blog_title Recent Blog
             hr.blog_styleline
            .card_container
             .card-body
              .content-img
                img(src='https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/06/ai_intern1200-796x417.png', alt='')
              .card-text
                p.tag Web development
                h2 Developers: Meet your new AI intern
                p.text
                    | Remember when software was eating the world? The trendy observation these days is that artificial intelligence (AI) is eating software.          repellat.
                a.read-more(href='https://thenextweb.com/syndication/2019/06/06/developers-meet-your-new-ai-intern/') Read more
             .card-body
              .content-img
                img(src='https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/06/swiftUI-796x432.jpg', alt='')
              .card-text
                p.tag design
                h2 SwiftUI is an expressive UI framework for iOS
                p.text
                    | Apple launched its Swift programming language almost five years ago. It was designed to supplant Objective-C with something that’s powerful         repellat.
                a.read-more(href='https://thenextweb.com/dd/2019/06/03/swiftui-is-an-expressive-ui-framework-for-ios-macos-and-more/') Read more
             .card-body
              .content-img
                img(src='https://img-cdn.tnwcdn.com/image?fit=480%2C480&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2019%2F01%2Fhorizon-zero-dawn.jpeg&signature=055378ef2c649f4340d807bc8b26aac2', alt='')
              .card-text
                p.tag video game developer
                h2 Why Guerrilla Games stubbornly built 
                p.text
                    | For our ongoing series Fundamentals, we’re looking at different companies worldwide and the basic principles they were built on          repellat.
                a.read-more(href='https://thenextweb.com/adobe-fundamentals/2019/01/21/decima-game-engine-guerrilla-games/') Read more