mixin about()
 section.about#about
  .layout_line
  .about_title
   hr
   h1.about_title-main What we do
  .layout_about 
  .about_card
        .images
         .about_card_img
          img(src='../img/card.png')
         .back
        .about_sidebar
          h2.about_card_title One World
          h1.about_card_type Trade Center
          p.about_card_description
            | Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
          .button
            button.btn More Details
          .about_card_geo
            .icon
             i.fas.fa-map-marker-alt
            p.about_card_geo_adress New York City, United States - 1776 feet
  .layout_height
  .about_card_reverse
        .images
         .about_card_img__reverse
          img(src='../img/card_reverse.png')
         .back_reverse
        .about_sidebar__reverse
          h2.about_card_title International
          h1.about_card_type Commerce Centre
          p.about_card_description
            | Successful businesses have many things in common, today we'll look at the big 'R' of recognition and how a digital advertising network may help.
          .button
            button.btn More Details
          .about_card_geo
            .icon
             i.fas.fa-map-marker-alt
            p.about_card_geo_adress Hong Kong - 1588 feet
  .layout_down 